*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
*.log
/app/build
/.idea

# Gradle
/gradle
build.gradle
gradle.properties
gradlew
gradlew.bat
settings.gradle

